name: Compile AHK Script

on:
  workflow_dispatch:  # Allows manual triggering
  push:
    paths:
      - '*hotkey.ahk'  # Trigger the workflow only when .ahk files are changed

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up AutoHotkey
      run: |
        choco install autohotkey.install --version=1.1.37.01

    - name: Compile AHK Script
      run: |
        Start-Sleep -Seconds 2
        $ahk2exe = "C:\Program Files\AutoHotkey\Compiler\Ahk2Exe.exe"

        if (Test-Path $ahk2exe) {
            & $ahk2exe /in "dynamic XCS hotkey.ahk" /out "dynamic_XCS_hotkey.exe"
        } else {
            Write-Error "Could not find Ahk2Exe.exe"
            exit 1
        }

    - name: List files in directory
      run: |
        Get-ChildItem

    - name: Upload Compiled EXE
      uses: actions/upload-artifact@v4
      with:
        name: Compiled-EXE
        path: dynamic_XCS_hotkey.exe
        retention-days: 90

    - name: Create Release and Upload Files
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v1.${{ github.run_id }}
        name: v1.${{ github.run_id }}
        files: |
          dynamic_XCS_hotkey.exe
          DEFAULT_MENU.TXT
          custom_keys.xci